*.pyc
__pycache__/
extracted_frames/ 

# Avoid keeping the checkpoints from training 

checkpoints/
*.pth

# Avoid keeping data 

*.jpg
*.png
*.mp4

venv/

.idea/

# Avoid keeping wandb logs 
wandb/

# Avoid keeping my sshcomand file 
sshcommands.txt