*.pyc
__pycache__/
extracted_frames/ 

# Avoid keeping the checkpoints from training 

checkpoints/
*.pth

# Avoid keeping data 

*.jpg
*.png
*.mp4
*.npy 

venv/

.idea/

# Avoid the virtual environment setup for now 
oft

# Avoid keeping wandb logs 
wandb/

# Avoid keeping my sshcomand file 
sshcommands.txt